#btn-next{
    margin-top: 0.75em;
}

#alert-progress{
    margin-top: 1em;
}

.text-min-ht{
    min-height: 200px;
}

.should-hidden{
    display: none;
}

.tooltip-inner {
    max-width: 720px;
    /* If max-width does not work, try using width instead */
    width: 640px;
}